<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
    <title>Workify: Dashboard</title>
</head>
<body>

    <!-- Welcome Section -->
    <h1 th:text="${nullClient} ? 'Welcome, Client!' : 'Welcome ' + ${name} + '!'">Welcome, Client!</h1>


    <!-- Success Message Alert -->
    <div th:if="${message}" class="alert">
        <p th:text="${message}"></p>
    </div>

    <!-- Buttons Section -->
    <div class="button-container">
        <a th:href="@{/update-skill-req/{email}(email=${client.email})}">
            <button class="btn-primary">Change Requirement</button>
        </a>
        <a href="home">
            <button class="btn-secondary">Home</button>
        </a>
        <a th:href="@{/find-work}">
            <button class="btn-secondary">Find Talent</button>
        </a>
    </div>

</body>
</html>