<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client: Dashboard</title>
</head>
<body>
    <h1 th:text = "'Welcome ' + ${name} + '!'">Welcome, Client!</h1>

    <div th:if="${message}" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>
    
    <a th:href="@{/update-skill-req/{email}(email=${client.email})}"><button>Change Requirement</button></a>
    <a href="home"><button>Home</button></a>
</body>
</html>