<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
    <title>Workify: Clients</title>
</head>
<body>
    <h1>Client</h1>
    <p>Thank you for using our services</p>
    <p>Sign up or log in to continue</p>
    <div class="button-container">
        <a href="client-signup">
            <button class="btn-primary">Sign up</button>
        </a>
    <a href="client-login">
        <button class="btn-secondary">Log in</button>
    </a>
    </div>
</body>
</html>