<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Work</title>
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
</head>
<body>
    <h1>Find Talent!</h1>
    <div>
        <p th:text="'The skill you asked for: ' + ${client.skillRequirement}">The skill needed goes here</p> 
    </div>
    <div class="button-container">
        <a href="find-work-results"><button type="submit" class="btn-primary">Search for Freelancers</button></a>
    </div>
</body>
</html>
