<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/images/workify-favicon.jpeg">
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
    <title>Request Status</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="home">
                <img
                     src="/images/workify-favicon.jpeg"
                     alt="Workify"
                     title="Workify"
                     /> 
            </a>
            <h1 class="logo">Workify: Revolutionizing the Way You Work</h1>
            <nav class="nav">
                <a href="home">Home</a>
                <a href="aboutUs">About Us</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="all-requests-container">
            <h1>All Requests</h1>
            <p class="no-requests" th:if="${noRequests}">
                Currently, you've sent no requests
            </p>
            <div class="request-list" th:if="${!noRequests}">
                <div class="request-item" th:each="request : ${requests}">
                    <p>Freelancer: <span th:text="${request.freelancerName}"></span></p>
                    <p>Freelancer Email: <span th:text="${request.freelancer.email}"></span></p>
                    <p>Skill: <span th:text="${request.skill}"></span></p>
                    <p>Price: $<span th:text="${request.price}"></span></p>
                    <p>Status: <span th:text="${request.status}"></span></p>
                </div>
            </div>
        </div>        
    </main>
    
</body>
</html>