<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Work</title>
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
</head>
<body>
<h1>Find Work</h1>
<form action="/jobs" method="post">
    <label for="skill">Enter your skill:</label>
    <select name="skill" id="skill">
        <option value="content writing">Content Writing</option>
        <option value="graphic design">Graphic Designing</option>
        <option value="SEO">SEO</option>
        <option value="content editing">Content Editing</option>
    </select>
    <button type="submit">Find Jobs</button>
</form>
<div th:if="${message}" th:text="${message}"></div>
</body>
</html>