<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
    <title>Workify: Home</title>
</head>
<body>
    <div>
        <h1>
            Welcome to Workify!
        </h1>
        <h2>
            Streamline your work, maximize your potential.
        </h2>
        <p>
            Workify helps you stay organized, collaborate effortlessly, and boost productivity — all in one platform. Whether you're working solo or with a team, 
            Workify makes managing tasks and projects easier than ever. Start today and take control of your workflow!
            Choose your role
        </p> 
    </div>
    
    <div class="button-container">
        <a href="client-sign-in">
            <button class="btn-primary">Client</button>
        </a>
        <a href="freelancer-sign-in">
            <button class="btn-primary">Freelancer</button>
        </a>
    </div>
    
</body>
</html>