<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
    <title>Workify: Dashboard</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="home">
                <img
                     src="/images/workify-favicon.jpeg"
                     alt="Workify"
                     title="Workify"
                     /> 
            </a>
            <h1 class="logo">Workify: Revolutionizing the Way You Work</h1>
            <nav class="nav">
                <a href="home">Home</a>
                <a href="aboutUs">About Us</a>
            </nav>
        </div>
    </header>
    <main>
    <h1 th:text = "'Welcome ' + ${name} + '!'">Welcome, Freelancer!</h1>

    <!-- Display success message for updating skill -->
    <div th:if="${message}">
        <p style="color: green; font-weight:bold;" th:text="${message}"></p>
    </div>

    <!-- Buttons section -->
     <div class="button-container">
        <a th:href="@{/update-skill/{email}(email=${freelancer.email})}">
            <button class="btn-primary">Set Skill & Price</button>
        </a>
        <a href="freelancer-requests">
            <button class="btn-primary">View Requests</button>
        </a>
        <a href="home">
            <button class="btn-secondary">Home</button>
        </a>
     </div>
    </main>
    
</body>
</html>
    
    