<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
    <title>Your Requests</title>
</head>
<body>
    <p style="color: rgb(156, 3, 3); font-weight: bold;" th:if="${noRequests} ? 'It seems you have no requests as of yet'"></p>
    <div th:each="request : ${requests}">
        <div>
            <p>Client: <span th:text="${request.clientName}">clientName</span></p>
            <p>Skill needed: <span th:text="${request.skill}"></span></p>
            <p>Status: <span th:text="${request.status}"></span></p>
            <a th:href="@{/freelancer/accept-request/{requestId}(requestId=${request.id})}">Accept</a>
            <a th:href="@{/freelancer/reject-request/{requestId}(requestId=${request.id})}">Reject</a>
        </div>
    </div>
</body>
</html>