<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
    <title>Workify: Update</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="home">
                <img
                     src="/images/workify-favicon.jpeg"
                     alt="Workify"
                     title="Workify"
                     /> 
            </a>
            <h1 class="logo">Workify: Revolutionizing the Way You Work</h1>
            <nav class="nav">
                <a href="home">Home</a>
                <a href="aboutUs">About Us</a>
            </nav>
        </div>
    </header>
    
    <main>
    <h1>Skill Updation</h1>
    
    <!-- Display any error message -->
    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>

    <!-- Show the current skill requirement -->
    <p th:text="'The skill you entered: ' + ${freelancer.skill}">The skill goes here</p>    
    <p th:text="'The price you set: ' + ${freelancer.price}">The price goes here</p>   

    <!-- Form to update skill  -->
    <form action="#" th:action="@{/update-skill/{email}(email=${freelancer.email})}" method="post" th:object="${freelancer}">
        <!-- Hidden field to specify HTTP method as PUT -->
        <input type="hidden" name="_method" value="PUT" />

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" readonly="true" />
        </div>

        <div>
            <label for="skill">New Skill:</label>
            <input type="text" id="skill" th:field="*{skill}" placeholder="Enter new skill" required/>
        </div>

        <div>
            <label for="price">New Price:</label>
            <input type="number" id="price" th:field="*{price}" placeholder="Enter new price" value="350" required/>
        </div>

        <div class="button-container">
            <button type="submit">Update!</button>
        </div>
    </form>
    </main>
</body>
</html>