<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workify: Update</title>
</head>
<body>
    <h1>Skill Updation</h1>
    
    <!-- Display any error message -->
    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>

    <!-- Show the current skill requirement -->
    <p th:text="'The skill you entered: ' + ${freelancer.skill}">The skill goes here</p>    

    <!-- Form to update skill  -->
    <form action="#" th:action="@{/update-skill/{email}(email=${freelancer.email})}" method="post" th:object="${freelancer}">
        <!-- Hidden field to specify HTTP method as PUT -->
        <input type="hidden" name="_method" value="PUT" />

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" readonly="true" />
        </div>

        <div>
            <label for="skill">New Skill:</label>
            <input type="text" id="skill" th:field="*{skill}" placeholder="Enter new skill" required/>
        </div>

        <div>
            <button type="submit">Update Skill</button>
        </div>
    </form>
</body>
</html>